﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - IPG Admin Portal</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/w3.css")
    @Styles.Render("~/Content/AdminPortalSharedLayout.css")
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="w3-white">

    <!--Top Nav Bar-->
    <div class="w3-navbar w3-black w3-hide-small">
        @Html.Partial("_LoginPartial")
    </div>
    <!-- Icon Bar (Sidebar - hidden on small screens) -->
    <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center w3-black">
        <div style="width:100%"><a href="@Url.Action("Index", "Home")"><img src="~/Content/Images/IPGLogo.jpg" alt="Top Logo" /></a></div>
        <div class="dropdown">
            <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hover-white">
                <i class="fa fa-user w3-xxlarge"></i>
                <p>MEMBERS</p>
            </a>
            <div class="dropdown-content">
                <a href="@Url.Action("AddMember", "Portal")">Add Member</a>
                <a href="@Url.Action("UpdateMember","Portal")">Update Member</a>
                <a href="@Url.Action("ListMembers","Portal")">Search Members</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hover-white">
                <i class="fa fa-clipboard w3-xxlarge"></i>
                <p>RESULTS</p>
            </a>
            <div class="dropdown-content">
                <a href="#">TO BE ADDED</a>
                <a href="#">TO BE ADDED</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hover-white">
                <i class="fa fa-list-alt w3-xxlarge"></i>
                <p>TEST CERT</p>
            </a>
            <div class="dropdown-content">
                <a href="#">TO BE ADDED</a>
                <a href="#">TO BE ADDED</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hover-white">
                <i class="fa fa-file w3-xxlarge"></i>
                <p>REPORTS</p>
            </a>
            <div class="dropdown-content">
                <a href="#">TO BE ADDED</a>
                <a href="#">TO BE ADDED</a>
            </div>
        </div>
    </nav>

    <!-- Navbar on small screens (Hidden on medium and large screens) -->
    <div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
        <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
            <a href="#" class="w3-bar-item w3-button" style="width:20% !important">MEMBERS</a>
            <a href="#" class="w3-bar-item w3-button" style="width:20% !important">TEST RESULTS</a>
            <a href="#" class="w3-bar-item w3-button" style="width:20% !important">TEST CERT</a>
            <a href="#" class="w3-bar-item w3-button" style="width:20% !important">REPORTS</a>
            <a href="javascript:document.getElementById('logoutForm').submit()" class="w3-bar-item w3-button" style="width:20% !important">LOG OFF</a>
        </div>
    </div>

    <!-- END PAGE CONTENT -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <!-- Page Content -->
    <div class="w3-padding-medium" id="main">
        <div class="container body-content">
            @RenderBody()
        </div>
    </div>

    <!-- Footer -->
    <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge" id="mainFooter">
        <p class="w3-medium">Powered by StarTech</p>
        <!-- End footer -->
    </footer>



</body>

</html>
