﻿
@{
    Layout = "~/Views/Shared/_AdminPortalLayout.cshtml";
    ViewBag.Title = "Index";
}

<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>

@section scripts {
    <link href="@Url.Content("~/Content/Homepage.css")" rel="stylesheet" type="text/css" />
}

<!--
@*<div class="col-md-2">*@
@Html.Partial("_AdminNav")
@*</div>*@-->

@*<div class="col-md-10">*@
<div class="container">
    <div class="row">
        <br />
        <br />
        <p>
            This will be the Admin Portal showing all sorts of neat stuff.
            @*@if (ViewBag.displayAdmin == "Yes")
                {*@
            <h1> Welcome @User.Identity.Name</h1>
        <p>
            This page will be worked on in due time. For now just sit back and enjoy the blue along the top and left side.
            This is a test @User.Identity.AuthenticationType
        </p>

        @*}
            else
            {

                <h2>Hey wait <strong>@ViewBag.Name!</strong> You're not an Admin!!</h2>
            }
            </p>*@
<!--
        <div id="CenterPartialUpdateFrame"></div>
    </div>
</div>-->
 </div>
</div>