﻿/* Top nav bar settings*/
body{
    padding-top: 0;
}

.editButton{
    background-color:#000080;
    box-shadow:20px;
}

.w3-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding-right: 20px;
    text-align: right;
    overflow: visible;
    z-index:200;
}

/* Set the width of the sidebar to 120px */

.w3-sidebar {
    height: 100%;
    width: 140px;
    background-color: white;
    overflow: visible;
    padding-top: 20px;
    border-right: solid;
    border-right-color: grey;
    border-right-width: 1px;
    top:45px;
}


/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */

#main {
    margin-left: 145px;
    margin-top: 60px;
}

#mainFooter {
    margin-left: 160px;
}

/* Dropdown content for top nav for user navigation*/

.w3-dropdown-content {
    cursor: auto;
    color: #000;
    background-color: #fff;
    display: none;
    position: absolute;
    min-width: 160px;
    margin: 0;
    padding: 0;
    right: 20px;
    font-size:18px;
}

    .w3-dropdown-content a {
        padding: 6px 16px;
        display: block;
       
    }

        .w3-dropdown-content a:hover {
            background-color: #000080;
            color: white;
        }


/* Remove margins from "page content" on small screens */

@media only screen and (max-width: 600px) {
    #main {
        margin-left: 0;
    }
}


/* Hover submenus for left nav */

.dropdown {
    padding-top: 10px;
    position: relative;
    display: inline-block;
    width: 100%;
}

    .dropdown:hover a {
        background-color: white;
        color: black;
    }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    float: left;
    min-width: 160px;
    top: 20%;
    left: 100%;
    overflow: inherit;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: medium;
    }

        .dropdown-content a:hover {
            background-color: #000080;
            color: white;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
}
