﻿@import url(https://fonts.googleapis.com/css?family=Oswald);

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.navbar {
    background: -webkit-linear-gradient(rgb(84,161,196), rgb(211,231,240));
}

.navbar h1 {
    text-align: center;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Centers all images on site. */
img {
    display: block;
    margin: 0 auto;
    height: auto;
    max-width: 100%;
}
/*Site headings and such*/
@font-face {
    font-family: 'Palanquin';
    src: url(../fonts/palanquin-regular.ttf);
}

/*Set the font for the project and various headings*/
h1,h2,h3,h4{
    font-family: 'Oswald', sans-serif;
}
p,body{
    font-family:Palanquin;
}
/*Set fonts to be responsive*/

/*Heading specific information such as size, color, etc*/
h1{
    font-size: 170%;
}
h2{
    font-size: 150%;
}
h3{
    font-size:130%;
}
h4{
    font-size: 110%;
}
p,body{
    font-size:100%;
}
@media screen and (max-width: 950px) {
     h1,h2,h3,h4{
        font-size: 100%;
    }
}

@media screen and (max-width: 650px) {
 h1,h2,h3,h4{
        font-size: 100%;
    }
}

@media screen and (max-width: 480px) {
 h1,h2,h3,h4{
        font-size: 100%;
    }
}

/* Dropdown content for top nav for user navigation*/
.w3-dropdown-content {
    cursor: auto;
    color: #000;
    background-color: #fff;
    display: none;
    position: absolute;
    min-width: 160px;
    margin: 0;
    padding: 0;
    right: 0;
}

    .w3-dropdown-content a {
        padding: 6px 16px;
        display: block;
        background-color: white;
        text-align:right;
    }

        .w3-dropdown-content a:hover {
            background-color: #000080;
            color: white;
        }
#memberListTable a{
    color: #000080;
    font-weight:bold;
}
.login{
    font-size: 18px;
}